MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=Naren@0921
MYSQL_DATABASE=sam
JWT_SECRET=replace_this_with_a_long_secret
INITIAL_ADMIN_EMAIL=admin@example.com
INITIAL_ADMIN_PASSWORD=Admin123!
PORT=4000
